<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Himalayan_Nepalese_Cuisine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/logo.jpg">
                @Html.ActionLink("Himalayan Nepalese Cuisine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Reservation", "Reservation", "Home")</li>
                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact us", "Index", "ContactViewModels")</li>
                    <li>@Html.ActionLink("Log in", "Index","Users")</li>
                </ul>
            </div>
        </div>x
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h2> STAY CONNECTED WITH HIMALAYAN </h2>
            <p> Sign up to be the first to receive special news and event updates from HIMALAYAN</p>
            <form action="URL where form data should be sent" method="POST">
                <input type="email" placeholder="Email Address" name="email" required>
                <button type="submit" style="background-color: red; color: white;">Subscribe</button>
            </form>
            <div class="navigation-bar">
                <ul class="nav-links">
                    <p>Quick Links</p>
                    <li><a href="~/Views/Shared/_Layout.cshtml">Menu</a></li>
                    <li><a href="~/Models/Reservation.cs">Reservation</a></li>
                    <li><a href="#About-us">About us</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
                <div style="background-color: black; color: white;">
                    <p><span style="color: red;">&#128205;</span> 22 Sheffield St, Auburn NSW 2144</p>
                    <p><span style="color: red;">&#128222;</span> (02) 8677 522842</p>
                    <p>
                        Copyright © 2024 - Himalayan Nepalese Cuisine
                        All rights reserved.
                    </p>
                </div>
            </div>
         
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
